html, body, #root { height: 100%; }
* { box-sizing: border-box; }
body { margin: 0; overflow-x: hidden; }
a { color: inherit; text-decoration: none; }

.home-main-full {
	min-height: 200vh; /* 合并欢迎区与内容区的总体高度 */
	width: 100%;
	background-color: #a8a6a6;
}

